<div class="container">
    <h1>Welcome to CSE Motors!</h1>
    <%- messages() %>
    <div class="home-image">
        <img src="../images/vehicles/delorean.jpg" alt="DeLorean">
        <div class="home-text">
            <h2>DMC Delorean</h2>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <button>Own Today</button>
        </div>
    </div>
    <div class="home-sections">
        <div class="section-1">
            <h2>Delorean Upgrades</h2>
            <div class="upgrades">
                <section>
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                    <p><a href="#">Flux Capacitor</a></p>
                </section>
                <section>
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                    <p><a href="#">Flame Decals</a></p>
                </section>
                <section>
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                    <p><a href="#">Bumper Stickers</a></p>
                </section>
                <section>
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                    <p><a href="#">Hub Caps</a></p>
                </section>
            </div>
        </div>
        <div class="section-2">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like travelling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling Marty McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>
    </div>
</div>
