<title>Inventory Management</title>
<h1>Inventory Management</h1>

<!-- show flash messages -->
<%- messages() %>

<!-- show any server-side validation errors (not likely here but safe) -->
<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<div class="management-links">
  <a href="/inv/add-classification">Add New Classification</a>
  <a href="/inv/add-inventory">Add New Inventory Item</a>
</div>
